<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mediscreen</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/patient/}">Patients</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/postPatient}">Nouveau</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div th:if="${param.message != null}" id="myAlert">
        <p class="alert alert-primary d-flex align-items-center mt-3" th:text="${param.message}"></p>
    </div>
    <div class="card my-5" style="width:50%;margin:auto;">
        <div class="card-header text-center">
            Liste des patients
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>LAST NAME</th>
                    <th>FIRST NAME</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p:${listPatients}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.lastName}"></td>
                    <td th:text="${p.firstName}"></td>
                    <td>
                        <a class="btn btn-primary btn-sm"
                           th:href="@{/patient/{id} (id=${p.id})}">Detail</a>
                        <a class="btn btn-danger btn-sm"
                           onclick="return confirm('Etes vous sur de vouloir supprimer le patient?')"
                           th:href="@{/patient/delete/{id} (id=${p.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                var myAlert = document.getElementById('myAlert');

                setTimeout(function() {
                    myAlert.style.display = 'none'; // Masquer l'alerte
                }, 3000);
            });
        </script>
    </div>
</body>
</html>