<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mediscreen</title>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link active" th:href="@{/patient/}">Patients</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="card my-5" style="width:50%;margin:auto;">
        <div class="card-header text-center">
            Détail du patient
        </div>
        <div class="card-body">
            <form>
                <fieldset disabled>
                    <div class="mb-3">
                        <label class="form-label" for="disabledTextInputNom">Family</label>
                        <input class="form-control" id="disabledTextInputNom" th:value="${patient.family}"
                               type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="disabledTextInputPrenom">Given</label>
                        <input class="form-control" id="disabledTextInputPrenom" th:value="${patient.given}"
                               type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="disabledTextInputDateNaissance">Date of births</label>
                        <input class="form-control" id="disabledTextInputDateNaissance" th:value="${patient.dob}"
                               type="date">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="disabledTextInputGenre">Sex</label>
                        <input class="form-control" id="disabledTextInputGenre" th:value="${patient.sex} == 'M' ? 'Homme' : 'Femme'"
                               type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="disabledTextInputAdressePostale">Address</label>
                        <input class="form-control" id="disabledTextInputAdressePostale" th:value="${patient.address}"
                               type="text">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="disabledTextInputNumero">Phone</label>
                        <input class="form-control" id="disabledTextInputNumero" th:value="${patient.phone}"
                               type="text">
                    </div>
                </fieldset>

<!--                <div class="card">-->
<!--                    <h5 class="card-title">Historique des notes</h5>-->
<!--                    <div class="card-body" th:each="c:${notes}">-->
<!--                        <p th:value="${note.note}"></p>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <ul>-->
<!--                    <li th:each="note : ${notes}">-->
<!--                        <div th:text="${note.patId}"></div>-->
<!--                        <div th:text="${note.note}"></div>-->
<!--                    </li>-->
<!--                </ul>-->

                <div class="mb-3 mt-2">
                    <a class="btn btn-primary" th:href="@{/}">Retour</a>
<!--                    <a class="btn btn-primary" th:href="@{/patient/note/{id} (id=${patient.id})}">Ajouter une note</a>-->
                    <a class="btn btn-primary"
                       th:href="@{/patient/update/{id} (id=${patient.id})}">Modifier</a>
                </div>
            </form>
        </div>
    </div>
    <script crossorigin="anonymous"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>